body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .header {
    display: flex;
    margin-bottom: 10px;
  }
  
  .specialty-tab {
    padding: 10px 20px;
    margin-right: 5px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  
  .specialty-tab.active {
    background-color: black;
    color: white;
  }

  .book-button {
    padding: 10px 20px;
    background-color: #2ecc71; /* Colore verde */
    color: white; /* Testo bianco */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s; /* Transizione per effetto hover */
  }
  
  .book-button:hover {
    background-color: #27ae60; /* Colore verde più scuro al passaggio del mouse */
  }

 
  
  
 
  
  
  